#entering {
  position: absolute;
  // display: none;
  z-index: 100;
  top: 0;
}

#mainVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}

#mainVideoMobile {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  display: none;
  z-index: -1;
}

.logo {
  position: absolute;
  margin: 3rem;
  width: 30rem;
  height: 10rem;
  background: url("/assets/img/Kimsooja_logo_white.png") no-repeat;
  top: 0;
  right: 0;
  background-size: contain;
}

#menu-wrapper {
	top: 0;
	left: 0;
	position:fixed;
	transform: translateX(-100%);
	height:100%;
	width: 20rem;
	overflow:hidden;  
	z-index: 100;
	float: left;
	transition: all 0.5s ease;
  .menu { 
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 9rem;
    padding-left: 2.5rem;
    gap: 3.5rem;
    align-items: flex-start;
    justify-content: flex-start;
    a {
      font-size: 1.6rem;
      font-weight: lighter;
      color: white;
      letter-spacing: 0.1rem;
      &:hover {
        color: #d9d9d9;
      }
    }
  }
}

#menu-wrapper.is-visible{
	transform: translateX(0%);
	font-size: 2rem;
}